<footer id="contactSection" class="container-fluid section">
    <div class="row text-center">
        <h5 class="color-secondary fw-light">FALE COMIGO</h5>
        <h2 class="fw-bold">Formas de me contatar</h2>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <p class="fw-light">Sinta-se a vontade para entrar em contato comigo, terei um enorme prazer em te ajudar a tirar seu sonnho do papel.</p>
        </div>
        <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="row contacts">
                <a class="c-contact" href="mailto:mauriliorodriguesp@gmail.com">
                    <span class="material-icons color-primary">mail_outline</span>
                    <span>{{'mauriliorodriguesp@gmail.com'}}</span>
                </a>
                <a class="c-contact" href="tel:33988152054">
                    <span class="material-icons color-primary">phone</span>
                    <span>(33) 98815-2054</span>
                </a>
                <a class="c-contact" href="https://www.linkedin.com/in/maurilio-rodrigues-santos/">
                    <span class="material-icons color-primary">handshake</span>
                    <span>linkedin.com</span>
                </a>
                <a class="c-contact" href="https://www.workana.com/freelancer/6f23cafdf3e033224929837749efb84b">
                    <span class="material-icons color-primary">work_outline</span>
                    <span>workana.com</span>
                </a>
                <a class="c-contact" href="https://github.com/mauriliox21">
                    <span class="material-icons color-primary">work_outline</span>
                    <span>github.com</span>
                </a>
            </div>
        </div>
    </div>
</footer>