
<div [id]="slideId" class="slider">
        <!-- <img src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert"> -->
        <span (click)="next()" href="#" class="control_next">>></span>
        <span (click)="prev()" href="#" class="control_prev"><</span>
        <ul>
            @for(image of images; track image; let index = $index){
                @if(index !== 0){
                    <li><img (load)="setDefault()" [src]="image" class="img-fluid img-project" alt="Cryptoalert"></li>
                }
                @else {
                    <li><img [src]="image" class="img-fluid img-project" alt="Cryptoalert"></li>
                }
            }
            <!-- <li data-slide="1"><img (load)="setDefault()" src="/ca1.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
            <li data-slide="2"><img src="/ca2.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
            <li data-slide="3"><img src="/ca3.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
            <li data-slide="4"><img src="/ca4.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
            <li data-slide="5"><img src="/ca5.jpg" class="img-fluid img-project" alt="Cryptoalert"></li> -->
        </ul>
    </div>