:host {

  .img-project {
    z-index: 10;
    border-radius: 5px;
  }

  // .container-img{
  //     position: relative;

  & .slider {
    overflow: hidden;
    position: relative;
    left: 20px;
    bottom: 20px;

    & ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 200px;
      z-index: 10;

      &.transicao {
        transition: 0.5s;
      }
    }

    & ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      background: #ccc;
      text-align: center;
      line-height: 300px;
      background: transparent;
    }
  }

  span.control_prev,
  span.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 0px 0px 0px 0px;
    width: 17%;
    height: auto;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 40%;
    aspect-ratio: 1;
    text-align: center;
  }

  span.control_prev:hover,
  span.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }

  span.control_prev {
    // border-radius: 0 2px 2px 0;
    margin-left: 5px;
  }

  span.control_next {
    right: 0;
    // border-radius: 2px 0 0 2px;
    margin-right: 5px;
  }

  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

  @media (max-width: 576px) {
    #slide1 .img-project{
      margin-top: -30px
    }
    #slide2 .img-project{
      margin-top: -32px
    }
  }
}