<section id="favProjSection" class="container-fluid section">
    <div class="row">
        <h2 class="text-center fw-bold mb-5">Meus Projetos Favoritos</h2>
        <div class="col-12 col-md-10 offset-md-1 row-project">
            <h4>CRYPTOALERT</h4>
            <div class="row">
                <!-- <div class="col-10 offset-1 col-lg-5 offset-lg-0 container-img">
                    <div id="slider" class="">
                        <span (click)="next()" href="#" class="control_next">>></span>
                        <span (click)="prev()" href="#" class="control_prev"><</span>
                        <ul>
                            <li data-slide="1"><img (load)="setDefault()" src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
                            <li data-slide="2" style="background: #aaa;"><img style="opacity: 0.5;" src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
                            <li data-slide="3"><img src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
                            <li data-slide="4" style="background: #aaa;"><img  style="opacity: 0.5;" src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert"></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-10 offset-1 col-lg-5 offset-lg-0 container-img">
                    <app-slide id="slide1" [images]="['assets/ca1.jpg','assets/ca2.jpg','assets/ca3.jpg','assets/ca4.jpg','assets/ca5.jpg',]" />
                </div>
                <div class="col-12 col-lg-7 p-4">
                    <p>O CRYPTOALERT é um aplicativo inovador desenvolvido para auxiliar investidores e entusiastas do
                        mercado de criptomoedas a acompanharem as oscilações de preços em tempo real. Com uma interface
                        intuitiva e funcionalidades avançadas, o aplicativo permite que os usuários configurem alertas
                        personalizados para diferentes criptoativos.</p>
                    <p>Com o CRYPTOALERT, é possível definir notificações baseadas em preços específicos, visando a
                        queda
                        ou o amento de preço de um ativo. Dessa forma, o usuário pode ser informado instantaneamente
                        sobre mudanças significativas nos ativos de interesse, permitindo uma reação rápida para compra,
                        venda ou análise de investimento.</p>
                    <p>O aplicativo suporta uma ampla variedade de criptomoedas, incluindo Bitcoin (BTC), Ethereum
                        (ETH), Solana (SOL), entre outras altcoins populares. </p>
                    <p>Entre os principais diferenciais do CRYPTOALERT estão a facilidade de uso, a velocidade nas
                        notificações e a personalização dos alertas. O aplicativo é ideal tanto para traders iniciantes
                        que desejam acompanhar o mercado com mais segurança.</p>
                    <div class="row">
                        <a class="btn btn-outline-light col-4 offset-4 mt-4" href="https://github.com/mauriliox21/cryptoalert-mobile" target="_blank">Repositorio FRONT-END</a>
                        <a class="btn btn-outline-light col-4 offset-4 mt-4" href="https://github.com/mauriliox21/cryptoalert" target="_blank">Repositorio BACK-END</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 row-project">
            <h4 class="text-lg-end">CONTROLE DE GASTOS</h4>
            <div class="row">
                <!-- <div class="col-10 offset-1 col-lg-5 offset-lg-0 order-lg-2">
                    <div class="container-img">
                        <img src="/mobile.jpg" class="img-fluid img-project" alt="Cryptoalert">
                    </div>
                </div> -->
                <div class="col-10 offset-1 col-lg-5 offset-lg-0 order-lg-2 container-img">
                    <app-slide id="slide2" [images]="['assets/cd1.jpg','assets/cd2.jpg','assets/cd3.jpg','assets/cd4.jpg','assets/cd5.jpg']" />
                </div>
                <div class="col-12 col-lg-7 order-lg-1 p-4">
                    <p>O aplicativo de controle de gastos é uma ferramenta essencial para quem deseja organizar suas
                        finanças de forma eficiente e intuitiva. Com ele, os usuários podem cadastrar diferentes
                        categorias de despesas, permitindo um acompanhamento detalhado dos seus gastos diários, semanais
                        e mensais.</p>
                    <p>A plataforma permite a criação e personalização de categorias, como alimentação, transporte,
                        moradia, lazer, entre outras, proporcionando uma visão clara de onde o dinheiro está sendo
                        gasto. Além disso, o aplicativo oferece a geração de relatórios detalhados, facilitando a
                        análise do orçamento pessoal.</p>
                    <p>Com um design intuitivo, o aplicativo é ideal para quem deseja economizar, estabelecer metas
                        financeiras e ter maior controle sobre seus recursos.</p>
                    <div class="row">
                        <a class="btn btn-outline-light col-4 offset-4 mt-4" href="https://github.com/mauriliox21/controle-gastos" target="_blank">Repositorio</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>