<section id="firstSection" class="section container-fluid">
    <div class="row align-items-center h-100">
        <div class="col-12 col-md-6">
            <div class="col-12 col-md-6 offset-md-3">
                <h2 id="hello">Maurilio Rodrigues<span class="color-secondary">.</span></h2>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/maurilio-rodrigues-santos/">LinkedIn</a>
                    <span>|</span>
                    <a href="https://github.com/mauriliox21">Github</a>
                </div>
                <button class="btn btn-outline-light" type="button">Contate-me</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12 col-md-6 offset-md-3">
                <h5 class="color-secondary fw-light">INTRODUÇÃO</h5>
                <h2 id="myPosition">Desenvolvedor Web Full-Stack e Mobile</h2>
                <p>Atualmente tenho procurado atuar me especilizar mais em Spring Boot, Angular e React Native</p>
            </div>
        </div>
    </div>
    
</section>