:host{
    .menu{
        background-color: transparent;
        
        & span{
            font-size: 20px;
            font-weight: lighter;
        }

        .active{
            border-bottom: 2px solid #000;
        }
    }
    
    @media (max-width: 576px) {
        .menu .active{
            border-bottom: none;
        }
    }
}